<footer class="footer bg-dark py-3 mt-auto ">
    <div class="d-flex inline">

        <div class="container ">
            <span class="text-light">&copy; Green Nest 2024</span>
        </div>

    </div>
</footer>