<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Nest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body class="d-flex  text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0"><a class="navbar-brand" href="/"> &#127795;</a>Green Nest</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <% if (currentUser==null) { %>

                        <a class="nav-link" href="/user/login">Login</a>
                        <a class="nav-link" href="/user/register">Register</a>
                        <% } else { %>

                            <a class="nav-link" href="/user/<%= currentUser %>">View Profile</a>
                            <a class="nav-link" href="/user/logout">Logout</a>
                            <!-- <form action="/user/logout" method="post">
                                <a class="nav-link" href="/user/logout"> <button
                                        class="btn btn-unstyled nav-link">Logout</button></a>
                            </form> -->
                            <% } %>

                </nav>
            </div>
        </header>
        <main class="px-3">
            <!-- <div id="container"></div> -->
            <p class="lead">
            <h1> <b>Welcome to Green Nest!</b></h1> <br> Explore our app and its services for a better and green
            environment. <br><br>
            "Sustainable development is the pathway to the future we want for all. It offers a framework to generate
            economic growth, achieve social justice, exercise environmental stewardship, and strengthen governance."
            - Ban Ki-moon



        </main>


        <footer class="mt-auto text-white-50 ">
            <p>&copy; 2024 </p>

        </footer>


    </div>
    <script src="index.js"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>